th{
    text-align:left;
    

}

@font-face {
    font-family: "Sansation Bold";
    src: url("https://db.onlinewebfonts.com/t/a95ede42168248621cd7c0bcc5e9dd6c.eot");
    src: url("https://db.onlinewebfonts.com/t/a95ede42168248621cd7c0bcc5e9dd6c.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a95ede42168248621cd7c0bcc5e9dd6c.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a95ede42168248621cd7c0bcc5e9dd6c.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a95ede42168248621cd7c0bcc5e9dd6c.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a95ede42168248621cd7c0bcc5e9dd6c.svg#Sansation Bold")format("svg");
}


body{
font-family: "Sansation Bold";
font-size: 22pt;
color: green;

}

  div {
    font-family: "Sansation Bold";
    text-align: center;
    border-style: solid;
    margin-left: 300px;
    width:60%
}
#alignment{
    margin-left: auto;
    margin-right: auto;

}